html, body, #root, .App {
  height: 100%;
}

.App {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.bg-img {
  height: 100%;
  width: auto;
}

.bg-img img {
  height: 100%;
  width: auto;
}

.gif-container {
  top: calc(50% - 100px);
  left: calc(50% - 48px);
  position: absolute;
}
