body {
  background: black;
  overflow: hidden;
  animation: bgchange 8s infinite;
}

@keyframes bgchange {
  0% {
    background-color: #90221c;
  }
  50% {
    background-color: #1b347b;
  }
  100% {
    background-color: #90221c;
  }
}

html, body, #root, .App {
  height: 100%;
}

.App {
  position: relative;
  display: flex;
  justify-content: center;
  transition: all 1.8s ease-in;
}

.bg-img {
  height: 100%;
  width: auto;
}

.bg-img img {
  height: 100%;
  width: auto;
}

.gif-container {
  top: calc(50% - 100px);
  left: calc(50% - 48px);
  position: absolute;
}

.dance-gif-container {
  width: 100%;
  left: calc(50% - 48px);
  top: calc(50% - 100px);
  position: absolute;
}

.App.zoom-out {
  transform: translateX(-30vw) scale(0.60);
  background-color: red;
}
